{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Интранет портал{% endblock %}
{% block index %}
  <div class="full main_back">
    <div class="login_form col-md-4 offset-md-4 col-sm-6 offset-sm-3 col-xs-12 align-middle child-middle">
      <div class="row p-1">
        <h2 class="text-xs-center text-white shadow-text">Войдите в систему</h2>
        <div class="container">
          {% if error %} 
            <div class="alert alert-danger" role="alert">
              <strong>Неверный пароль!</strong> Попробуйте снова
            </div>
          {% else %}
            <br>
          {% endif %}
          {% if request.GET.next or next %}
            <div class="alert alert-info" role="alert">
              Произойдет перенаправление по ссылке: <strong>
                {% if request.GET.next %}
                  {{request.GET.next}}
                {% else %}
                  {{next}}
                {% endif %}
              </strong> 
            </div>
            <br>
            {% if request.GET.next %}
              <form action="{% url 'login' %}?next={{request.GET.next}}" method="POST" >
              <input name="next" value="{{request.GET.next}}" type="hidden" class="form-control" id="inputLogin3">
            {% else %}
              <form action="{% url 'login' %}?next={{next}}" method="POST" >
              <input name="next" value="{{next}}" type="hidden" class="form-control" id="inputLogin3">
            {% endif %}
          {% else %}
          <form method="POST" action="{% url 'login' %}">
          {% endif %}
            {% csrf_token %}
            <div class="form-group row">
              <label for="inputLogin3" class="col-sm-12 col-md-2 col-form-label">Логин</label>
              <div class="col-sm-12 col-md-10">
                <input name="username" type="username" class="form-control" id="inputLogin3" placeholder="Username">
              </div>
            </div>
            <div class="form-group row">
              <label for="inputPassword3" class="col-sm-12 col-md-2 col-form-label">Пароль</label>
              <div class="col-sm-12 col-md-10">
                <input name="password" type="password" class="form-control" id="inputPassword3" placeholder="Password">
              </div>
            </div>
            <div class="form-group row">
              <div class="offset-sm-0 offset-md-2 col-sm-10">
                <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i> Войти</button>
                {# <a href="#" class="ml-1 text-white">Забыли пароль?</a> #}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}