<html>
	<body>
		{# <img src="http://smart-daryn.kz/static/images/small_logo.png" alt="logo"> #}
		<p>Добрый день, {{name}}. Вы успешно зарегистрировались в интранет системе</p>
		<p>Upgrade Land: <a href="http://upgrade-land.kz">upgrade-land.kz</a></p>
		<br>
		<p>В нашей интранет системе вы можете:</p>
		<ul>
			<li>Следить за своей успеваемостью</li>
			<li>Быть в курсе всех мероприятии</li>
			<li>Получать домашние задания</li>
			<li>Иметь доступ к электронной базе знании</li>
		</ul>
		<p>И самое главное, вы станете частью нашей огромной семьи и будете достигать цели вместе с нами!</p>
		<br>
		<b style="font-weight: bold;">Ваш логин: {{username}}</b>
		<p>Для того, чтобы начать использовать интранет систему, вам необходимо активировать свой личный кабинет и придумать пароль, пройдя по ссылке ниже:</p>
		<a style="margin: 0;padding: 0;outline: 0;transition:0.2s;border:0;color: #4f4f4f;display: block;padding: 10px 20px 10px 20px;display: block;background-color: #3498db;border-radius: 5px;max-width: 130px;text-align: center;color: white;text-decoration: none;" href="http://localhost:8000/accounts/activate/{{hash}}/" target="_blank" rel="noopener">Активировать</a>
		<p>Если у вас возникли проблемы при активации учетной записи, пожалуйста, свяжитесь с нашим мэнеджером  ****  +77*********. Мы будем рады помочь вам в любое время.</p>
		<p>Спасибо, добро пожаловать в Upgrade Land!</p>
		<b style="font-weight: bold;">Контакты:</b>
		<p><em style="font-style: italic;">г. Алматы, </em></p>
		<p><em style="font-style: italic;"><a href="http://upgradeschool.kz">www.upgradeschool.kz</a></em></p>
		<p><em style="font-style: italic;"><b style="font-weight: bold;">Подписывайтесь на нас:</b></em></p>
		<p><em style="font-style: italic;">VK: <a href="#">https://vk.com/upgradeschool***</a></em></p>
		<p><em style="font-style: italic;">Instagram: <a href="#">***</a></em></p>
	</body>
</html>